
 <!--Script selection -->
 <script src="/script/app.js"></script>
 <script src="/jquery/dis/jquery.min.js"></script>
 <script src="/bootstrap/dis/js/bootstrap.min.js"></script>


<!-- footer section starts -->
<section class="footer">

  <div class="box-container">

      <div class="box">
          <h3>Dhruvi's Portfolio</h3>
          <p>Thank you for visiting my personal portfolio website. Connect with me over socials. <br/> <br/> Keep Rising 🚀. Connect with me over live chat!</p>
      </div>

      <div class="box">
          <h3>Quick links</h3>
          <a href="home"><i class="fas fa-chevron-circle-right"></i> Home</a>
          <a href="about"><i class="fas fa-chevron-circle-right"></i> About Me</a>
          <a href="services"><i class="fas fa-chevron-circle-right"></i> Services</a>
          <a href="projects"><i class="fas fa-chevron-circle-right"></i> Projects</a>
          <a href="contact"><i class="fas fa-chevron-circle-right"></i> Contact</a>
      </div>

      <div class="box">
          <h3>Contact info</h3>
          <p> <i class="fas fa-phone"></i>+1 437 499 1710</p>
          <p> <i class="fas fa-envelope"></i>mdhruvim@gmail.com</p>
          <p> <i class="fas fa-map-marked-alt"></i>Scarborough, Canada-M1G3S5</p>
          <div class="share">

              <a href="https://www.linkedin.com/in/dhruvi-mandaviya-652b9a154" class="fab fa-linkedin" target="_blank"></a>
              <a href="https://github.com/DhruviMandaviya/DhruviMandaviya" class="fab fa-github" target="_blank"></a>
              <a href="mailto:mdhruvim@gmail.com" class="fas fa-envelope" target="_blank"></a>
          </div>
      </div>
  </div>

  <h1 class="credit">Designed with <i class="fa fa-heart pulse"></i> by <a href="https://www.linkedin.com/in/dhruvi-mandaviya-652b9a154">Dhruvi Mandaviya</a></h1>

</section>
<!-- footer section ends -->