<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>


<!-- about section starts -->
<section class="about" id="about">
    <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>
    
    <div class="row">

    <div class="image">
        <img draggable="false" class="tilt" src="./images/hero2.png" alt="">
    </div>
    <div class="content">
        <h3>I'm Dhruvi</h3>
        <span class="tag">Application & Web Developer</span>
        
        <p>I am from India. 
          I am an Information Technology enginner.
          I am very passionate about coding skills & developing applications & websites.
          I build WebApps and Websites using different technology & languages.
          Working for myself to improve my skills.
          Love to build Full-Stack clones. </p>
        
        <div class="box-container">
            <div class="box">
              <p><span> age: </span> 23 </p>
              <p><span> phone : </span> +1 4374991710</p>
            </div>
            <div class="box">
              <p><span> email : </span> mdhruvim@gmail.com</p>
              <p><span> place : </span> Toronto - M1G3S5</p>
            </div>
        </div>
        
        <div class="resumebtn">
            <a href="./images/resume.pdf" class="btn"><span>Resume</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>

    </div>
    </div>
</section>
<!-- about section ends -->

<%-include partials/footer.ejs%>