<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

<!-- work project section starts -->
<section class="work" id="work">

    <h2 class="heading"><i class="fas fa-laptop-code"></i> Projects <span>Made</span></h2>

    <div class="box-container">  

    <div class="box tilt">
      <img src="/images/projects/project.png" alt="" />
      <div class="content">
        <div class="tag">
        <h3>Portfolio Website</h3>
        </div>
        <div class="desc">
          <p>Personal portfolio website. Don't need much info about it, just explore. You're here only!</p>
          <div class="btns">
            <a href="https://www.linkedin.com/in/dhruvi-mandaviya-652b9a154" class="btn" target="_blank"> Code <i class="fas fa-code"></i></a>
          </div>
        </div>
      </div>
    </div>   

    <div class="box tilt">
        <img src="/images/projects/projrct2.png" alt="" />
        <div class="content">
          <div class="tag">
          <h3>Wallpaper Application</h3>
          </div>
          <div class="desc">
            <p>My first android aaplication using REST API. In this application I used pexels website for creating API and load images from website to local application. As well we can save this images in our local system.</p>
            <div class="btns">
              <a href="https://github.com/DhruviMandaviya/WallpaperApp" class="btn" target="_blank"> Code <i class="fas fa-code"></i></a>
            </div>
          </div>
        </div>
      </div>   
  
    </div>
  
    <div class="backbtn">
      <a href="/#home" class="btn">
          <i class="fas fa-arrow-left"></i>
          <span>Back to Home</span>
    </a>
    </div>
  
  </section>
  <!-- work project section ends -->
<%-include partials/footer.ejs%>