<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>

        <!-- skills section starts -->
        <section class="skills" id="skills">
            <h1 class="heading"><i class="fas fa-laptop-code"></i> Services<h1>

                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                      <div class="card">
                        <img src="/images/projects/project.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h2 class="card-title">Web Designing</h2>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="/images/projects/project.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h2 class="card-title">Web Develment</h2>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="/images/projects/flipkartmern.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h2 class="card-title">E-commerce</h2>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="/images/projects/webviewapp.PNG" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h2 class="card-title">App Development</h2>
                        </div>
                      </div>
                    </div>
                  </div>
        </section>
        <!-- skills section ends -->

        <%-include partials/footer.ejs%>